<h1>Welcome to</h1>
<%= image_tag("Logo.png")%>
  <h4>
    Having a hard time finding a quick easy solution for renting a flat, on a short hold basis?
  </h4>
    <p>Then let's get started!
      If you're a first time user, please <%= link_to "Sign up", new_user_registration_path %> for a free account today.
    </p>
    <p>Or if you're already registered </p>
    <p>please look at <%= link_to "available", rooms_path %> rooms, or if you are a host <%= link_to "create", new_room_path %> a room.</p>
