<h1>Welcome!</h1>
  <h3>
    Having a hard time finding a quick easy solution for renting a flat, on a short hold basis?
  </h3>
    <p>Then let's get started!
      please <%= link_to 'Log in', new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> for a free account today
    </p>
